<section class="mb-20 w-4/5 mx-auto">
    <h3 class="text-center text-2xl md:text-3xl font-bold mb-6 animate-bounce">Contáctame ⬇ &#128232;</h3>

    <div class="flex flex-col justify-center md:flex-row md:justify-center gap-4">
        <p id="correo" class="bg-slate-900 p-2 md:p-4 text-xl font-bold text-center rounded-md shadow-lg">
            manuelberganza.dev@gmail.com
        </p>
        <button id="correoBtn" class="bg-blue-600 hover:bg-blue-950 text-xl uppercase font-bold p-2 rounded-md transition-colors ease-in-out shadow-md">
            Copiar
        </button>
    </div>

    <div id="notificacion" class="w-60 py-4 mx-auto"></div>

</section>