<footer class="bg-mb-secondary border-t border-mb-blue-light p-6">
    <h2 class="text-center text-2xl font-bold mb-10">Redes Sociales</h2>

    <div class="flex justify-evenly mb-10">
        <a href="https://www.linkedin.com/in/manuel-berganza/" target="_blank">
            <div class="flex">
                <div class="w-6">
                    <img src="/img/tech/linkedin.svg" alt="logo linkedin">
                </div>

                    <p class="ml-2 text-xl">LinkedIn</p>
            </div>
        </a>

        <a href="https://github.com/manuelberganza-dev" target="_blank">
            <div class="flex">
                <div class="w-6">     
                    <img src="/img/tech/github.svg" alt="logo github">
                </div>

                <p class="ml-2 text-xl">Github</p>
            </div>
        </a>
    </div>

    
    <div class="text-xl text-center mb-6">
        <p class="text-sm text-gray-400">
            Hecho con <a href="https://www.11ty.dev/" target="_blank"><span class="text-mb-blue-light font-bold">11ty</span></a>
            por <a href="https://x.com/manuelberganza_" target="_blank"><span class="text-mb-blue-light font-bold">Manuel Berganza</span></a>
        </p>
        <p class="text-sm text-gray-400">Construyendo Software con toda la actitud 😎 desde El Salvador, para el mundo.</p>
    </div>

</footer>