
{# GRID #}
<section class="w-4/5 mx-auto">
   <h2 class="text-2xl md:text-3xl font-bold text-center mb-10">Tecnologías</h2>

   <div class="max-w-lg sm:mx-auto text-sm text-mb-gray-light font-bold grid grid-cols-4 md:grid-cols-6 gap-6 mb-20">
        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/java.svg" alt="logo java">

            <p class="text-center mt-2">JAVA</p>
        </div> 

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/spring.svg" alt="logo spring">
            
            <p class="text-center mt-2">SPRING</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/mysql.svg" alt="logo mysql">
            <p class="text-center mt-2">MYSQL</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/js.svg" alt="logo javascript">

            <p class="text-center mt-2">JAVASCRIPT</p>
        </div>

                <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/html.svg" alt="logo html">

            <p class="text-center mt-2">HTML</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/css.svg" alt="logo css">

            <p class="text-center mt-2">CSS</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/bootstrap.svg" alt="logo bootstrap">
            <p class="text-center mt-2">BOOTSTRAP</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/tailwind.svg" alt="logo tailwind">

            <p class="text-center mt-2">TAILWIND</p>  
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/git.svg" alt="logo git">

            <p class="text-center mt-2">GIT</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/github.svg" alt="logo react">

            <p class="text-center mt-2">GITHUB</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/ubuntu.svg" alt="logo react">

            <p class="text-center mt-2">UBUNTU</p>
        </div>

        <div class="hover:scale-125 transition-all ease-out duration-200">
            <img src="/img/tech/python.svg" alt="logo react">

            <p class="text-center mt-2">PYTHON</p>
        </div>
   </div>
    
</section>