<header class="mb-16 md:mb-28 w-full md:max-w-3xl md:mx-auto">
    <div class="text-center mx-10 mb-12">
        <h1 class="text-xl md:text-3xl mb-8 bg-gray-700/10 p-2 rounded-md">Hola, soy <span class="font-bold">Manuel Berganza.</span></h1>
        <p class="text-4xl md:text-5xl font-semibold">Programador Web con experiencia en la creación de <span class="text-mb-blue-light">API-REST</span> y aplicaciones <span class="text-mb-blue-light">MVC</span> con <span class="text-mb-blue-light">Java</span>, <span class="text-mb-blue-light">Spring</span> y <span class="text-mb-blue-light">MySQL</span>.</p>
    </div>
    <hr class="w-16 border-mb-blue-light mb-12 mx-auto">

    {% include 'spring_card.njk' %}
</header>
