
<section class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

    <a href="https://www.google.com" target="_blank" class="hover:scale-110 transition-all ease-in duration-200">
        <div>
            <div class="mb-4">
                <img src="/img/post/placeholder.png" class="w-full rounded-lg" alt="">
            </div>
            <div class="mb-4">
                <p class="text-2xl font-bold mb-2">Proyecto #1</p>
                <p class="text-mb-gray-light">Anim do et nulla enim ex mollit cupidatat velit ipsum.</p>
            </div>
            <div class="flex gap-2">
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
            </div>
        </div> 
    </a>    <!-- FIN CARD-->

        <a href="https://www.google.com" target="_blank" class="hover:scale-110 transition-all ease-in duration-200">
        <div>
            <div class="mb-4">
                <img src="/img/post/placeholder.png" class="w-full rounded-lg" alt="">
            </div>
            <div class="mb-4">
                <p class="text-2xl font-bold mb-2">Proyecto #1</p>
                <p class="text-mb-gray-light">Anim do et nulla enim ex mollit cupidatat velit ipsum.</p>
            </div>
            <div class="flex gap-2">
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
            </div>
        </div> 
    </a>    <!-- FIN CARD-->

        <a href="https://www.google.com" target="_blank" class="hover:scale-110 transition-all ease-in duration-200">
        <div>
            <div class="mb-4">
                <img src="/img/post/placeholder.png" class="w-full rounded-lg" alt="">
            </div>
            <div class="mb-4">
                <p class="text-2xl font-bold mb-2">Proyecto #1</p>
                <p class="text-mb-gray-light">Anim do et nulla enim ex mollit cupidatat velit ipsum.</p>
            </div>
            <div class="flex gap-2">
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
            </div>
        </div> 
    </a>    <!-- FIN CARD-->

        <a href="https://www.google.com" target="_blank" class="hover:scale-110 transition-all ease-in duration-200">
        <div>
            <div class="mb-4">
                <img src="/img/post/placeholder.png" class="w-full rounded-lg" alt="">
            </div>
            <div class="mb-4">
                <p class="text-2xl font-bold mb-2">Proyecto #1</p>
                <p class="text-mb-gray-light">Anim do et nulla enim ex mollit cupidatat velit ipsum.</p>
            </div>
            <div class="flex gap-2">
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
            </div>
        </div> 
    </a>    <!-- FIN CARD-->

        <a href="https://www.google.com" target="_blank" class="hover:scale-110 transition-all ease-in duration-200">
        <div>
            <div class="mb-4">
                <img src="/img/post/placeholder.png" class="w-full rounded-lg" alt="">
            </div>
            <div class="mb-4">
                <p class="text-2xl font-bold mb-2">Proyecto #1</p>
                <p class="text-mb-gray-light">Anim do et nulla enim ex mollit cupidatat velit ipsum.</p>
            </div>
            <div class="flex gap-2">
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
                <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Node.js</p>
            </div>
        </div> 
    </a>    <!-- FIN CARD-->


</section>