<div class="bg-gray-700/10 p-6 rounded-md w-4/5 md:w-full mx-auto">
    <h4 class="text-2xl font-bold">Stack de Spring que Uso: </h4>
    <p class="text-xl">
        <span class="text-mb-blue-light">Spring MVC</span>, <span class="text-mb-blue-light">Spring Security</span>, <span class="text-mb-blue-light">Spring Data JPA</span>, <span class="text-mb-blue-light">Spring Validations</span> y <span class="text-mb-blue-light">Thymeleaf</span>.
    </p>
</div>