---
title: 404 Not Found!
permalink: 404.html
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Teko:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="bg-mb-primary text-white leading-relaxed">
    <main class="h-screen w-4/5 mx-auto flex justify-center items-center">
        <div>
            <p class="text-4xl md:text-6xl font-bold">{{ title }}</p>
            <p class="text-2xl md:text-4xl text-gray-400 mb-10">La página que buscas no existe. ☹</p>
            <a href="/" class="bg-mb-blue-light p-4 rounded-md text-slate-950 font-bold">Ir a Inicio</a>
    </main>

    {% include 'footer.njk' %}
</body>
</html>

