---
layout: layout-page.njk
title: Manuel Berganza
---

{% include 'header.njk' %}

<section class="mb-20 w-4/5 mx-auto">
    <h3 class="text-2xl md:text-4xl font-bold text-center mb-4 md:mb-8">Mis proyectos</h3>
    <hr class="w-16 border-mb-blue-light mb-16 mx-auto">

    {# GRID PROYECTOS #}
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a href="/pos" target="_blank" class="md:hover:scale-110 md:transition-all md:ease-in md:duration-200">
            <div>
                <div class="mb-4">
                    <img src="/img/post/pos-portada.png" class="rounded-lg shadow-lg" alt="">
                </div>
                
                <div class="mb-4">
                    <p class="text-2xl font-bold mb-2">Punto de Venta</p>
                    <p class="text-mb-gray-light">
                        Permite a los empleados gestionar inventarios, registrar ventas, y emitir recibos.
                        Brindando control en el manejo de productos, clientes, y pagos.
                    </p>
                </div>
                <div class="w-full flex flex-nowrap gap-2">
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Java</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Spring</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Thymeleaf</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Javascript</p>
                </div>
            </div> 
        </a> <!-- FIN CARD PROJECT -->

        <a href="/xclone" target="_blank" class="md:hover:scale-110 md:transition-all md:ease-in md:duration-200">
            <div>
                <div class="mb-4">
                    <img src="/img/post/xclone-portada.jpeg" class="rounded-lg shadow-lg" alt="">
                </div>
                
                <div class="mb-4">
                    <p class="text-2xl font-bold mb-2">Xclone App</p>
                    <p class="text-mb-gray-light">
                        Es una replica de X creada desde el diseño de su base de datos. permite crear publicaciones e interactuar con otras mediante "me gusta" y comentarios.
                    </p>
                </div>
                <div class="flex gap-2">
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Java</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Spring</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Thymeleaf</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Javascript</p>
                </div>
            </div> 
        </a> <!-- FIN CARD PROJECT -->
        
        <a href="/todo-api-rest" target="_blank" class="md:hover:scale-110 md:transition-all md:ease-in md:duration-200">
            <div>
                <div class="mb-4">
                    <img src="/img/post/todo-portada.png" class="rounded-lg shadow-lg" alt="">
                </div>
                
                <div class="mb-4">
                    <p class="text-2xl font-bold mb-2">Todo API REST</p>
                    <p class="text-mb-gray-light">
                        API REST creada con Spring para Gestionar tareas, permitiendo a los usuarios crear, actualizar, eliminar sus tareas. Está diseñada para integrarse fácilmente con el frontend.
                    </p>
                </div>
                <div class="flex gap-2">
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Java</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Spring</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">Spring Security</p>
                    <p class="bg-mb-gray text-mb-gray-light inline-block p-1 rounded-md">MySQL</p>
                </div>
            </div> 
        </a> <!-- FIN CARD PROJECT -->
    </div>
</section>

{% include 'contact-me.njk' %}


{% include 'grid-tech.njk' %}
