---
layout: layout-page.njk
title: Sobre mi | Manuel Berganza
---

<section class="mb-20 w-4/5 mx-auto max-w-3xl">
    <div class="w-36 mx-auto mb-8 rounded-full overflow-hidden">
        <img class="w-full" src="/img/perfil.png" alt="foto de manuel berganza">
    </div>

    <div class="mb-6">
        <div class="mb-8 text-center">
            <h1 class="text-2xl font-bold">Manuel Berganza</h1>
            <a class="text-gray-500" href="https://x.com/manuelberganza_" target="_blank">@manuelberganza_</a>
        </div>

        <div class="text-xl">
            <p class="mb-6">
                Soy Programador de Software con experiencia en la creación de <span class="text-mb-blue-light font-bold"> API-REST</span> utilizando <span class="text-mb-blue-light font-bold">Java</span> y <span class="text-mb-blue-light font-bold">Spring</span>, siempre garantizo sistemas robustos y escalables. También trabajo con <span class="text-mb-blue-light font-bold">Node.js</span> en tareas de automatización y <span class="text-mb-blue-light font-bold">aplicaciones MVC</span>.
            </p>

            <p class="mb-6">
                Me encanta convertir ideas en realidades digitales. He tenido la oportunidad de trabajar en algunos proyectos como freelance construyendo sistemas completos desde la base de datos con <span class="text-mb-blue-light font-bold">MySQL</span>, manejo de sesiones y la interfaz gráfica.
                Además, tengo conocimientos en frontend utilizando <span class="text-mb-blue-light font-bold">HTML</span>, <span class="text-mb-blue-light font-bold">CSS</span>, <span class="text-mb-blue-light font-bold">Tailwind</span>, <span class="text-mb-blue-light font-bold">JavaScript</span> y <span class="text-mb-blue-light font-bold">React</span> para diseñar interfaces de usuario dinámicas y <span class="text-mb-blue-light font-bold">adaptables</span> a cada dispositivo.
            </p>

            <p class="bg-gray-700/10 p-2 shadow-lg">
                Si necesitas un desarrollador que entienda tus necesidades y las transforme en soluciones eficientes, estaré encantado de ser parte de tu equipo.
            </p>
        </div>
    </div>

    <a class="text-mb-blue-light underline text-xl" href="#" target="_blank">Descargar CV - Manuel Berganza</a>
</section>

{% include 'contact-me.njk' %}

{% include 'grid-tech.njk' %}