<section class="m-8 md:m-10">

  <div class="md:max-w-3xl mx-auto mb-20">

    <div class="max-w-80 mx-auto mb-8 md:mb-10">
      <img src="/assets/images/placeholder.png" alt="foto de perfil">
    </div>

    <div>
      <h1 class="text-center text-2xl mb-6">Mi nombre es <span class="font-bold">Manuel Berganza</span> </h1>
      <p class="mb-4">
        Soy programador backend de 25 años con enfoque en Java y Spring Boot. Desde que comencé mi camino me he dedicado a mejorar y ampliar mis conocimientos en el ámbito de la programación, además de mis conocimientos en backend, también poseo habilidades en el desarrollo frontend con Angular.
      </p>

      <p>
        Creo firmemente en el poder de la tecnología para transformar y mejorar nuestras vidas, y cada línea de código que escribo está impregnada de esta filosofía.
      </p>
    </div>

  </div>

  <experiencia-component/>
</section>
