<section class="h-screen">

  <h1>Mi nombre es Manuel Berganza</h1>

  <img src="/assets/images/placeholder.png" alt="">

  <p>
    Ex deserunt eiusmod sint magna nostrud. Laboris irure et nostrud anim do pariatur pariatur anim ipsum Lorem voluptate excepteur officia. Mollit ullamco minim adipisicing ipsum ipsum. Minim tempor incididunt cillum ut non ipsum. Non tempor cupidatat amet nostrud nostrud incididunt.
  </p>
  <p>
    Ex deserunt eiusmod sint magna nostrud. Laboris irure et nostrud anim do pariatur pariatur anim ipsum Lorem voluptate excepteur officia. Mollit ullamco minim adipisicing ipsum ipsum. Minim tempor incididunt cillum ut non ipsum. Non tempor cupidatat amet nostrud nostrud incididunt.
  </p>


</section>
