<section class="text-center h-[490px] md:h-[470px] flex flex-col justify-start md:max-w-4xl md:mx-auto">
  <h2 class="text-xl sm:text-2xl mt-16 mb-10">Hola, soy <span class="font-bold">Manuel Berganza</span>.</h2>
  <p class="text-5xl sm:text-6xl font-bold">
    Disfruto construyendo proyectos web con <span class="text-celeste">Java</span>,
    <span class="text-celeste">Spring Boot</span> y <span class="text-celeste">Angular</span>.
  </p>
</section>
<hr class="w-1/3 border-celeste-oscuro mx-auto">
