<footer class="bg-slate-950 border-t border-celeste-oscuro py-8">
  <h3 class="font-bold text-xl text-center mb-6">Redes sociales</h3>

  <div class="flex justify-evenly mb-6">
    <div class="flex items-center">
      <i class="devicon-linkedin-plain"></i>
      <p class="ml-2">Linkedin</p>
    </div>
    <div class="flex items-center">
      <i class="devicon-github-original"></i>
      <p class="ml-2">Github</p>
    </div>
  </div>

  <p class="text-center text-xs text-gray-400">Contruido con <span class="text-celeste">Angular</span> </p>
  <p class="text-center text-xs text-gray-400">Construido por <span class="text-celeste">Manuel Berganza</span> </p>
</footer>
